<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kt.managermode.dao.IDemoDao" >

    <sql id="inc_whereClause" >
        <where>
            <if test="demo_id!=null">
                and demo_id = #{demo_id}
            </if>
            <if test="demo_name!=null and demo_name!=''">
                and demo_name = #{demo_name}
            </if>
            <if test="demo_high!=null">
                and demo_high = #{demo_high}
            </if>
        </where>
    </sql>

    <insert id="saveDemo">
        INSERT INTO t_demo(demo_name, demo_high) VALUES (#{demo_name, jdbcType=VARCHAR}, #{demo_high, jdbcType=VARCHAR})
    </insert>

    <delete id="deleteDemo">
        DELETE FROM t_demo
        <include refid="inc_whereClause"/>
    </delete>

    <delete id="batchDeleteDemo">
        DELETE FROM t_demo
        where demo_id in
        <foreach collection="list" item="userId" open="(" close=")" separator=",">
            #{demo_ids}
        </foreach>
    </delete>

    <update id="updateDemo">
      UPDATE t_demo
      <set>
          <if test="demo_name!=null">
              demo_name = #{demo_name, jdbcType=VARCHAR},
          </if>
          <if test="demo_high!=null">
              age = #{demo_high, jdbcType=VARCHAR},
          </if>
      </set>
      where demo_id = #{demo_id}
    </update>

    <select id="queryDemo" resultType="com.kt.managermode.bean.DemoBean">
<!--         SELECT demo_id as demoId, demo_name as demoName, demo_high as demoHigh -->
<!--         from t_demo -->
        SELECT demo_id, demo_name, demo_high
        from t_demo
        <include refid="inc_whereClause"/>
    </select>


</mapper>